.santorini {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.santorini-photo {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    transform: scaleX(-1);
    aspect-ratio: 16/9;
}

.santorini::before {
    background-color: rgba(0, 0, 0, .3);
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo {
    width: 15rem;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
    border-bottom: .5px solid var(--gray-500);
    z-index: 2;
    transition: all 5s;
    transition-timing-function: cubic-bezier(0, -1.09, 0, 1.6);
}

.header:hover {
    background-color: rgba(1, 1, 1, .3);
}

.header-menu {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--primary-font);
}

.header-menu li {
    padding: 0 4px;
    transition: all .3s;
    transition-timing-function: cubic-bezier(0, -1.09, 0, 1.6);
}

.header-menu li:hover {
    transform: translateY(-.3rem);
}

.header-menu li a {
    color: white;
}

.header-menu li a:hover {
    color: var(--yellow-color);
}

.santorini-description {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 12rem;
    color: white;
}

.left-border {
    height: 10rem;
    border-left: 1px solid white;
    margin-bottom: 20px;
    transition: all .5s;
}

.left-border:hover {
    transform: rotate(90deg);
    border-left: 3px solid var(--blue-color);
}

.santorini-description p {
    color: white;
    font-size: 1.3rem;
    font-family: var(--secondary-font);
    transition: all .3s;
}

.santorini-description p:hover {
    color: var(--blue-color);
}

.santorini-description h1 {
    font-size: 5rem;
    transition: all .3s;
}

.santorini-description h1:hover {
    color: var(--blue-color);
}

.second-h1 {
    margin-bottom: 20px;
}


.view-tours {
    font-size: 1.8rem;
    font-weight: 500;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    border: 1px solid white;
    padding: 15px 60px;
    transition: all .5s;
}

.view-tours:hover {
    font-weight: 900;
    background-color: white;
    color: var(--blue-color);
}

.tour-organizer {
    background-color: white;
}

.tour-organizer-col {
    padding: 25px;
}

.tour-organizer-col img:hover {
    filter: invert(.7);
    transform: translateY(-.5rem);
    box-shadow: 0 .5px 0 var(--blue-color);
}

.tour-organizer img {
    width: 60px;
    box-shadow: 0 0 0 transparent;
    transition: all .5s;
    padding-bottom: 10px;
}

.navagio {
    background-color: var(--gray-200);
}

.navagio img {
    width: 100%;
    object-fit: cover;
    transition: all .3s;
}

.navagio img:hover {
    filter: hue-rotate(50deg);
}

.navagio-description {
    padding-left: 100px;
    padding-right: 100px;
}

.popular {
    background-color: white;
}

.popular img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all .3s;
    transition-timing-function: cubic-bezier(0, -0.78, 0.08, 1.31);
}

/* 
.popular img:hover{
    transform:translateY(-1rem);
    cursor:pointer;
    filter:grayscale(.5);
} */

.popular-image {
    position: relative;
    transition: all .3s;
}

.popular-image:hover {
    transform: translateY(-1rem);
    cursor: pointer;
}

.popular-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 900;
    color: transparent;
    padding: 20%;
    background-color: transparent;
    border-radius: 10px;
    transition: background .3s;
    transition: color 1.1s cubic-bezier(0.37, 1.09, 0.83, 1.11);
}

.popular-image:hover p {
    background-color: rgba(var(--blue-color2), .8);
    color: white;
}

.discover .primary-header {
    color: white;
    font-size: 3.5rem;
    transition: all .5s;
}

.discover .primary-header:hover {
    transform: scale(1.05);
}

.discover p {
    color: white;
}

.form {
    background-color: var(--yellow-color);
}

.input1 {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    color: var(--dark-blue);
    transition: all .8s;
}

.input1:hover {
    border-bottom: 1px solid var(--dark-blue);
    border-right: 1px solid var(--dark-blue);
    background-color: transparent;
}

#bed-icon {
    background-image: url('../image/Bed-2x.png');
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: 1rem;
    padding: 0 5rem;
}

#bed-icon:hover {
    filter: invert(.5);
}

::-webkit-input-placeholder {
    color: var(--gray-500);
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: var(--primary-font);
}

.arriving-date {
    background-color: white;
    width: 100%;
    height: 4rem;
    padding-top: .4rem;
    line-height: 1.6;

}

.arriving-date a {
    font-size: 1.1rem;
    color: var(--dark-blue);
    font-family: var(--secondary-font);
    font-weight: 300;
}

.arriving-date span {
    font-weight: 800;
}

.search {
    padding: .6rem 2.4rem;
    background-color: var(--blue-color);
    display: inline-block;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--primary-font);
    color: white;
    border-radius: 10px;
}

.search:hover {
    background-color: var(--dark-blue);
    transform: translateY(-.5rem);
}

.booking-logo {
    margin-left: auto;
    width: 12rem;
}

.news {
    background-color: var(--gray-200);
}

.more-news {
    margin-left: auto;
    background-color: var(--yellow-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .3s;
}

.more-news .fa-angle-double-right {
    font-size: 1rem;
}

.more-news:hover {
    color: white;
    background-color: var(--blue-color);
    transform: translateY(-.5rem);
}

.news .col-4{
padding-right:0;
padding-left:0;
box-shadow:0 0 10px rgba(0, 0, 0, .2);
border-radius:5px;
}

.news-col {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.news-image {
    position: relative;
}

.news-image1 {
    width: 100%;
    /* aspect-ratio: 16/9; */
}

.news-image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    padding: 4rem 9rem;
    background-color: rgba(var(--blue-color2), .85);
    border-radius: 5px;
    opacity: 0;
    transition: all .4s;
}

.news-image:hover .news-image2 {
    opacity: 100%;
}

.news-col p,
.news-col .secondary-header {
    padding-left: 20px;
    display: inline-block;
    color: black;
}

.news-col p {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--gray-500);
}

.news-col .secondary-header {
    margin-bottom: 3rem;
    font-weight: 600;
}

.news-col .secondary-header:hover {
    color: var(--blue-color);
}

.footer{
    background-color: white;
}

.footer-menu{
    font-size:1.5rem;
    font-weight:500;
    color:black;
    text-transform:uppercase;
}

.col-2-4{
    padding-left: 0;
    padding-right: 0;
}

.footer a{
    color: black;
    margin-bottom: 1rem;
    display: inline-block;
}

.footer .border-bottom{
    border-bottom:2px solid var(--yellow-color);
    margin-top:-7px;
    width:0;
    transition:all .4s;
}


.footer-menu:hover .border-bottom{
    width:6rem;
}

.footer .border-bottom2{
    border-bottom:2px dashed white;
    margin-top:-2px;
    width:1rem;
    margin-left:-1rem;
    transition:all 1s;
}

.footer-menu:hover .border-bottom2{
    margin-left:6.2rem;
}

.copy-right{
    padding-left:0;
}

.brands-logos{
    margin-left:auto;
}

.footer i{
    font-size:2rem;
}

.footer .facebook-logo{
    color:var(--blue-color);
}

.footer .twitter-logo{
    color:rgb(132, 201, 224);
}

.footer .insta-logo{
    color:var(--dark-blue);
}

.footer .youtube-logo{
    color:red;
}